body { 
	padding-top: 10px; 
	font-family: 'Avenir', sans-serif;
	background-color: white;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

a {
	color: white;
}



h1, h2, h3 {
	font-family: 'Bookman Old Style', sans-serif;
	color: #262262;
}

.donate {
	float: right;
	margin-right: 100px;
	margin-top: 30px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.images {
	width: 100%;
	height: auto;
}

.page-header {
	padding-bottom: 130px;
	padding-top: 30px;
	background-color: white;
}

.carousel {
	margin-top: -20px;
}

.container {
	/*background-color: white;*/
	padding-right: 10px;
	padding-left: 10px;
}

.comm-nav {
	background-color: #3750A2;
	color: white;
	font-weight: bold;
}

.comm-items {
	/*margin-left: 10%;*/
}

.comm-text {
	font-size: 150%;
}

.dark {
	background-color: lightgrey;
}

.logo {
	width: 30px;
	height: auto;
}

.thumbnail {
	opacity: 1;
}
.evan:hover .thumbnail{
	opacity: 0.2;
}

.evan:hover .text {
	opacity: 1;
}

.collapse:true .text{
	opacity: 0;
}

.subtitles {
	padding-left: 5%;
	padding-bottom: 10px;
}

.tagline {
	margin-left: 20px;
	margin-bottom: -100px;
}

.team-popover {
	background-color: white;
	font-family: 'Avenir', sans-serif;
}

.text {
	color: black;
	font-size: 120%;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	opacity: 0;
}

#mc-logo, #ga-logo, #wi-logo, #an-logo {
	width: 20%;
	height: auto;
	padding-left: 10px;
}
