body { 
	/*padding-top: 10px; */
	font-family: 'Avenir', sans-serif;
	background-color: white;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

a {
	color: white;
}



h1, h2, h3, h5 {
	font-family: 'Bookman Old Style', sans-serif;
	text-align: center;
	/*color: #1e1e1e;*/
}

.donate-top {
	float: right;
}

.donate {
	margin-right: 30px;
	margin-top: 30px;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.images {
	width: 100%;
	height: auto;
}

.page-header {
	padding-bottom: 40px;
	padding-top: 30px;
	background-color: white;
}

.carousel {
	margin-top: -20px;
}

.circle {
	border-radius: 60%;
	color: white;
	width: 55%;
	height: 47%;
	border-color: white;
	background-color: #E58F65;
	padding-top: 50px;
	
}

.mail {
	background-color: #A0CA92;
	margin-left: 240px;
}

#contact {
	padding-top: 5%;
}

#contact_form {
	background-color: #262262;
	padding-left: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
}

#submit_button {
	color: black;
	padding: 5px 15px 5px 15px;
	margin-left: 90px;
	margin-bottom: 10px;
}

.center {
	padding-bottom: 10px;
	/*padding-top: 10px;*/
}

.container {
	/*background-color: white;*/
	padding-right: 10px;
	padding-left: 10px;
}

.comm-nav {
	background-color: #262262;
	color: white;
	font-weight: bold;
}

.comm-items {
	/*margin-left: 10%;*/
}

.comm-text {
	font-size: 150%;
	text-align: center;
}

.dark {
	background-color: lightgrey;
}

.half {
	background-color: #262262;
	color: white;
	padding-bottom: 70px;
}

.very-dark {
	padding-top: 5%;
	padding-bottom: 2%;
	background-color: #262262 
}

#inline {
	display: inline;
}

.logo {
	width: 30px;
	height: auto;
	border-style: solid;
	border-color: white;
	border-width: 5px;
	border-radius: 10px;
}

.thumbnail {
	opacity: 1;
	border-color: white;

}
.evan:hover .thumbnail{
	opacity: 0.2;
}

.evan:hover .text {
	opacity: 1;
}

.collapse:true .text{
	opacity: 0;
}

.process-imgs {
	width: 40%;
	height: auto;
	border: 2px;
}

.subtitles {
	padding-left: 5%;
	padding-bottom: 10px;
}

.tagline {
	margin-left: 20px;
	margin-bottom: -100px;
}

.team-popover {
	background-color: white;
	font-family: 'Avenir', sans-serif;
}

.text {
	color: black;
	font-size: 100%;
	position: absolute;
	top: 30%;
  	left: 14%;
  	opacity: 0;
}

#mc-logo, #ga-logo, #wi-logo, #an-logo {
	width: 15%;
	height: auto;
	padding-left: 3%;
}
