body { 
	padding-top: 10px; 
	font-family: 'Roboto', sans-serif;
	background-color: #99D2EF;

    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

a {
	color: white;
}

.donate {
	float: right;
	margin-right: 100px;
	margin-top: 30px;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
}

.page-header {
	padding-bottom: 130px;
	padding-top: 30px;
	background-color: white;
}

.comm-nav {
	background-color: #3E5A89;
	color: white;
	/*padding: 10px;*/
}

.comm-items {
	margin-right: 100px;
	margin-left: 100px;
}

.comm-text {
	font-size: 200%;
	margin: 50px;
}

.team-photo {
	max-width: 99%;
    max-height: 99%;
    display: block;
    margin: auto;
}
.thumbnail {
	opacity: 1;
}
.thumbnail:hover {
	opacity: 0.3;
	background-color: yellow;
}

.evan:hover .text {
	opacity: 1;
}

.text {
	color: black;
	font-size: 120%;
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	opacity: 0;
}